<html lang="en"><head>
    <meta charset="utf-8">
    <title>Play Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" media="screen" href="/public/css/bootstrap.css">
<body>

    <div class="container">

      <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">{{silly_header}}</h2>
        <p>{{message}}</p>
        <input type="text" class="input-block-level" name='username' placeholder="Username">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div>

    
    </body></html>
