<html>
<head>
    <script src="/public/js/lib/socket.io.js"></script>
    <script src="/public/js/lib/jquery2.js"></script>
    <script src="/public/js/lib/underscore.js"></script>
    <script data-main="/public/js/lobby" src="/public/js/lib/require.js"></script>
    <link rel="stylesheet" media="screen" href="/public/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="/public/css/style.css">
</head>

<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/hq">Build a fleet</a>
            </div>
        </div>
    </div>

    <div class="container max-height">
        <div class="row ">

            <div class="span8">
                <div class="pad40-top">

                    <div class="scrollable max-height well" id="chatbox"></div>
                    
                    <form id='say_form'>
                        <input id='chat' style='width:500px' />
                        <input type='submit' id="submit_button" value="Go" class="btn btn-primary"/>
                    </form>
                </div>
            </div>

            <div class="span4">
                <div class="pad40-top">
                    <div class="scrollable max-height" id="queue">
                        <div style='padding-bottom:5px'>
                            <h4 style='display:inline'>Active Games</h4>
                            <a href="game/new" class=' pull-right'> Create Game</a>
                        </div>
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>Host</th>
                                    <th>Opponent</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <script type='script/x-template' id="row_template">
                            <tr>
                                <td><%= host %></td>
                                <td><%= opponent %></td>
                                <td>
                                    <a href="/game/<%= game_id %>/watch">
                                        <img src='/public/img/icons/eye.png' />
                                    </a>
                                    &nbsp;&nbsp;
                                    <% if(opponent==null) { %>
                                        <a href="/game/<%= game_id %>/join">
                                            <img src='/public/img/icons/user_add.png' />
                                        </a>
                                    <% } %> 
                                </td>
                            </tr>
                        </script>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>